footer.footer 
    button#up up 
    .footer-info 
        span.logo LOGOS
        span.footer-info__i1 © ООО СК «АПШЕРОН» Все права защищены. 2010-2020
        ul.footer-inf0__i2 
            li
                a(href="#") Пользовательское соглашение 
            li
                a(href="#") Карта сайта
            li 
                a(href="#") Политика конфиденциальности
    ul.footer-nav
        li
            a(href="#") О ресторане
        li
            a(href="#") Условия доставки
        li
            a(href="#") Возврат товара
        li
            a(href="#") Акции
        