include mixin/head
include mixin/header


doctype html
html(lang="ru")
    +head('Главная', './css/main.css')
    body 
        +header
            .banner
                .banner-text__shadow Доставка вкуснейших блюд за 60 минут
                .banner-button__shadow
                .banner-text Доставка вкуснейших блюд за 60 минут 
                button#banner-button Ещё не пробовал?
                .banner-image
        main 
            include modules/about-us 
            include modules/contact  
            include modules/footer      



