@font-face {
    font-family: "Gilroy-bold";
    src: url(../../fonts/Gilroy/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: "Gilroy-light";
    src: url(../../fonts/Gilroy/Gilroy-Light.otf);
}

@font-face {
    font-family: "Zing-Rust-Demo";
    src: url(../../fonts/ZingRustDemo-Base.otf);
}

@font-face {
    font-family: "Proxima-Nova-bold";
    src: url(../../fonts/ProximaNova/ProximaNova-Bold.ttf);
}